.wrapper {
  width: 100%;
  padding: 25px;
  overflow-y: scroll;
  .title {
    padding: 0 10px;
  }
  .completed {
    color: #777777;
    text-decoration: line-through;
  }
  .notice {
    text-align: center;
    color: #d0d0d0;
    font-size: 20px;
  }
}

.task-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.task-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.task-exit {
  opacity: 1;
  transform: translateY(0);
}

.task-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}